<!-- <section class="main-header">
      <p class="flash"><%= notice %><%= alert %></p> 
</section> -->

  <section class='about'>

    <font  size="7" color="green"><b><%= notice %></b></font>
    <br>      <!-- お問合せありがとうございました！-->
    <h1>About Facebook</h1>
    <p>
      Facebookクローンアプリです。
    </p>

      <div id="page-top-btn" class="page-top-btn">
          <p><a class="move-page-top" id="move-page-top">▲</a></p>
      </div>
  </section>
