body{
  overflow: hidden;
}

.contents{
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 32768px;
  margin-bottom: -32768px;
}

#main{
  width: 1050px;
  float: right;
  margin: 0 auto;
}

#side{
  width: 180px;
  float: left;
  background-color: #AEAEAE;
  box-sizing: border-box;
  padding-bottom: 32768px;
  margin-bottom: -32768px;
}
