html {
  font-size: 62.5%;
  /*主要ブラウザのフォントサイズは16pxのため
  　×0.625でfont-sizeの基準を10pxにしている*/
  height: 100%;
}

body{
  height: 100%;
}

.container{
  float: right;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

ul{
  margin: 0;
  padding: 0;
}

li{ 
  list-style: none;
}

.side_menu{
  width: 300px;
  float: left;
}

.wrapper{
  margin-top: 10px;
  padding-bottom: 100px;
}

.content{
  width: 600px;
  margin-left: 20px;
  float: right;
  font-size: 1.5rem;
}

.menu{
  display: table;
  width: 100%;
}

.menu li{
  display: table-cell;
  text-align: center;
}

