@media (min-width: 850px) {

   /* ↓レイアウト全体領域 */
   .container {
      display: table;
      width: 100%;
   }
   /* ▼メインカラムの装飾 */
   .main-column {
      display: table-cell;
   }
   /* ▽サイドカラムの装飾 */
   .side-column {
      display: table-cell;
      width: 30%;
   }

}