// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.child li {
  padding-top: 13px;
  border-bottom: 1px dotted #ccc;
  height: 100%;
  position: relative;
}

.right {
text-align: right;
}

.left {
text-align: left;
}

#comments_area {
  height: 100%;
}