//scssはcssの手間を省いたもの

.wrapper{
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;

  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
  //  text-align: left;
    word-wrap: break-word;
  }
}

input[type="submit"].btn-block{
  margin: 15px 0;
}



header {
  width: 100%;
  background-color: #08298A;
  height: 54px;
}

.navbar-default {
    border: 0;
}
.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #E6E6E6;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #E6E6E6;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}


.about {
  background-color: white;
  color: #333;
  padding: 80px;
}

.function {
  background-color: #E6E6E6;
  padding: 50px;
  padding-bottom: 180px;
}

.page-top-btn {
  display: none; //最初はボタン非表示
  border-radius: 50px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed; //右下に固定
  right: 30px;
  bottom: 30px;
  z-index: 20;

  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
  &:hover { //ボタンの上にカーソルのせるとフェードアウト
    opacity: 0.7;
  }
}

.flash {
  color: white;
  padding-top: 10px;
}

html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  text-align: center;
  width: 100%;
  background-color: #E6E6E6;
}



.parent a:hover img{
  background-color: #000;
  opacity: 0.5;
}

.parent a:hover{
  background-color: #fff;
  opacity: 0.5;
}

.side_menu{
  width: 25%;
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
}

.side_menu li{
  background-color: #08298A;
  height: 6rem;
  margin-bottom: 10px;
}

.side_menu li a{
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;

  font-size:2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}

.side_menu .point{
  background-color: #03A9F4;
}

.side_menu .point a{
  color: #4D4D4D;
}

.container{
  width: 100%;
  position: relative;
  min-height: 100%;
  padding-bottom: 85px;
  margin: 0px 0px 0px 0px; 
}

.content{
  width: 55%;
  float: right;
  font-size: 1.5rem;
  margin: auto;
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #08298A;
  padding: 20px 0 10px 0;
  color: white;
  font-size: 12px;
}

.flash {
  color: white;
  padding-top: 10px;
}